<div class="container-fluid p-0">
    <h5 class="governlink">Government Quick Links</h5>
  <div class="row mx-4 my-3" style="justify-content: center;">
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
          <a href="http://agricoop.nic.in/">
            <div class="card-body">
              <h6 class="card-title">Agriculture, Cooperation and Farmer Welfare</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="http://fert.nic.in">
            <div class="card-body">
              <h6 class="card-title">Government Of India Department of Fertilizers</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="http://www.nationalfertilizers.com/">
            <div class="card-body">
              <h6 class="card-title">National Fertilizers Limited</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://vikaspedia.in/">
            <div class="card-body">
              <h6 class="card-title">Vikaspedia</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://icar.org.in/">
            <div class="card-body">
              <h6 class="card-title">Indian Council of Agricultural Research</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
  <!-- </div>
  <div class="row mx-0" style="justify-content: center;"> -->
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="http://www.rkmp.co.in/">
            <div class="card-body">
              <h6 class="card-title">Rice Knowledge Management Portal</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="http://krishi.maharashtra.gov.in/">
            <div class="card-body">
              <h6 class="card-title">Krishi Vibhag Maharashtra Shasan</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://farmer.gov.in/">
            <div class="card-body">
              <h6 class="card-title">Farmer's Portal</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://www.enam.gov.in/">
            <div class="card-body">
              <h6 class="card-title">e-National Agriculture Market</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="http://agritech.tnau.ac.in">
            <div class="card-body">
              <h6 class="card-title">TNAU Agritech Portal</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
  <!-- </div>
  <div class="row mx-0" style="justify-content: center;"> -->
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="http://atmamaharashtra.org/">
            <div class="card-body">
              <h6 class="card-title">ATMA Maharashtra</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://nmsa.dac.gov.in/">
            <div class="card-body">
              <h6 class="card-title">National Mission For Sustainable Agriculture</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://pmksy.gov.in/">
            <div class="card-body">
              <h6 class="card-title">Pradhan Mantri Krishi Sinchayee Yojana</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://agmarknet.gov.in/">
            <div class="card-body">
              <h6 class="card-title">AgMarknet</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
          <a href="http://dahd.nic.in/">
            <div class="card-body">
              <h6 class="card-title">Department Of Animal Husbandry and Dairying</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
  <!-- </div>
  <div class="row mx-0" style="justify-content: center;"> -->
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="http://mofpi.nic.in/">
            <div class="card-body">
              <h6 class="card-title">Food Processing Industries</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://fci.gov.in/">
            <div class="card-body">
              <h6 class="card-title">Food Corporation Of India</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://www.safl.in/">
            <div class="card-body">
              <h6 class="card-title">SAFL-Sustainable Agro-commercial Finance Ltd.</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://pmfby.gov.in/">
            <div class="card-body">
              <h6 class="card-title">Pradhan Mantri Fasal Bima Yojana - Crop Insurance | PMFBY</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://uiic.co.in/">
            <div class="card-body">
              <h6 class="card-title">United India Insurance Company Limited</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
  <!-- </div>
  <div class="row mx-0" style="justify-content: center;"> -->
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://life.futuregenerali.in/">
            <div class="card-body">
              <h6 class="card-title">Future Generali India Life Insurance Co. Ltd</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://www.india.gov.in/">
            <div class="card-body">
              <h6 class="card-title">india.gov.in National Portal Of India</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      <div class="card">
        <a href="https://pmmodiyojana.in/">
            <div class="card-body">
              <h6 class="card-title">PM Modi Yojana</h6>
              <p class="card-subtitle text-muted">Discription</p>
              <p class="card-text">Some quick example text to build on the card title.</p>
            </div>
          </a>
      </div>
    </div>
    <div class="col-6 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-0">
      
    </div>
  </div>
</div>