<div class="container-fluid">
  <!-- ----------Navbar Position -->
  <div class="row">
      <div class="col-sm-2 col-md-3 col-lg-2 p-0 categoriesBelt">
          <div class="sidenav ml-1">            
              <h5 class="my-2 mx-2 text-center border-bottom">Filter</h5>
              <ul class="navbar-nav nav flex-column">
                  <li class="nav-item dropdown active">
                          <a class="nav-link dropdown-toggle" role="button" data-toggle="collapse" data-target="#coladrop1" aria-expanded="true" aria-controls="coladrop1">
                              Related Categories
                          </a>
                          <div class="collapse show" id="coladrop1" aria-labelledby="dropdownMenuButton" data-parent="#accordion">
                              <a class="dropdown-item active" href="#maindiv">Agricultural Implements</a>
                              <a class="dropdown-item" href="#">Agricultural Machinery</a>
                              <a class="dropdown-item" href="#">Agricultural Machine Parts</a>
                              <a class="dropdown-item" href="#">Agricultural Tools</a>
                              <a class="dropdown-item" href="#">Farm Equipment</a>
                   v           <a class="dropdown-item" href="#">Agricultural Tray</a>
                              <a class="dropdown-item" href="#">Agricultural Ridger</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Agricultural Gyrovator</a>
                              <a class="dropdown-item" href="#">Agricultural Wire</a>
                              <a class="dropdown-item" href="#">Agricultural Tanks</a>
                              <a class="dropdown-item" href="#">Sugarcane stubble shaver</a>
                              <a class="dropdown-item" href="#">Agricultural Processing Plants</a>
                          </div>                 
                  </li>

                  <li class="nav-item dropdown">    
                      <a class="nav-link dropdown-toggle" role="button" data-toggle="collapse" data-target="#coladrop2" aria-expanded="false" aria-controls="coladrop2">
                          Brands
                      </a>
                      <div class="collapse" id="coladrop2" aria-labelledby="dropdownMenuButton" data-parent="#accordion">
                          <a class="dropdown-item" href="#">PVC Pipes</a>
                          <a class="dropdown-item" href="#">UPVC Pipes</a>
                          <a class="dropdown-item" href="#">PVC Garden Pipes</a>
                          <a class="dropdown-item" href="#">Agricultural HDPE Pipes</a>
                          <a class="dropdown-item" href="#">LDPE Pipes</a>
                          <a class="dropdown-item" href="#">Suction Pipe</a>
                          <!-- <a class="dropdown-
                          item" href="#">HDPE Coil Pipes</a>
                          <a class="dropdown-item" href="#">Lateral Pipes</a>
                          <a class="dropdown-item" href="#">MDPE Pipes</a>
                          <a class="dropdown-item" href="#">HDPE Sprinkler Pipes</a>
                          <a class="dropdown-item" href="#">UPVC Pressure Pipes</a>
                          <a class="dropdown-item" href="#">Grey Pipes</a>
                          <a class="dropdown-item" href="#">LDPE Lay Flat Pipes</a>
                          <a class="dropdown-item" href="#">Hdpe Tube</a> -->
                      </div>
                  </li>
              </ul>
          </div>
      </div>
<!--side bar end-->
      <div class="col-sm-10 col-md-9 col-lg-10 productFrame">
         
          <div class="row rowProduct justify-content-center">
              <div class="col-sm- 5 col-md-5 col-lg-5 productImage">
                    <img src = "data:image/png;base64,{{productImage.image}}" alt="">
              </div>
              <div class="col-sm-5 col-md-5 col-lg-5 productDetails">					
        <span id="productTitle" >					    
           <h4>{{product.name}}</h4>
                  </span>
                  <h6 class="text-muted">{{business.name}}</h6>
        <b><h6>Price : ₹ {{product.price}}</h6></b>
                  <small class="">Ratings</small>
      <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star"></span>
                  <span class="fa fa-star"></span>
                  
                  <div class="py-3">
                      <button type="button" class="btn btn-sm btn-primary mr-3" (click)="openContactSupplier()">Contact Supplier</button>
                      <button type="button" class="btn btn-sm btn-primary ml-3" (click)="openGetQuote(product.id)" >Get Quote</button>
                      <button type="button" class="btn btn-sm btn-primary ml-3" (click)="addToCart(product.id, product.name, product.price)" >{{btnTitle}}</button>
                  </div>
              </div>
          </div>

          <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                  <a href="#productDescription" class="nav-link active" data-toggle="tab">Description</a>
              </li>
              <li class="nav-item ">
                  <a href="#ProductDetails" class="nav-link" data-toggle="tab">Specification</a>
              </li>
              <li class="nav-item">
                  <a href="#SupplierDetails" class="nav-link" data-toggle="tab">Supplier Details</a>
              </li>
          </ul>
          <div class="tab-content">
              <div class="tab-pane fade show active" id="productDescription">
                  <div class="ProductDescription">
                      <div class="productCompany p-0">
                         <p class="content">{{product.additional_information}}</p>
                      </div>
                  </div>
                  <div class="m-5"></div>
              </div>
      <div class="tab-pane fade" id="ProductDetails">
                  <div class="col-sm-5 col-md-5 col-lg-5 productCompany">
          <table class="table specificationTable">
                          <tbody>
                            <tr *ngIf = "product.description_1 != null">
                              <td>{{product.description_1}}</td>
                              <td>{{product.specification_1}}</td>
                            </tr>

                            <tr *ngIf = "product.description_2 != null">
                              <td>{{product.description_2}}</td>
                              <td>{{product.specification_2}}</td>
                            </tr>

                            <tr *ngIf = "product.description_3 != null">
                              <td>{{product.description_3}}</td>
                              <td>{{product.specification_3}}</td>
                            </tr>
                            
                            <tr *ngIf = "product.description_4 != null">
                              <td>{{product.description_4}}</td>
                              <td>{{product.specification_4}}</td>
                            </tr>

                            <tr *ngIf = "product.description_5 != null">
                              <td>{{product.description_5}}</td>
                              <td>{{product.specification_5}}</td>
                            </tr>

                            <tr *ngIf = "product.description_6 != null">
                              <td>{{product.description_6}}</td>
                              <td>{{product.specification_6}}</td>
                            </tr>

                            <tr *ngIf = "product.description_7 != null">
                              <td>{{product.description_7}}</td>
                              <td>{{product.specification_7}}</td>
                            </tr>

                            <tr *ngIf = "product.description_8 != null">
                              <td>{{product.description_8}}</td>
                              <td>{{product.specification_8}}</td>
                            </tr>

                            <tr *ngIf = "product.description_9 != null">
                              <td>{{product.description_9}}</td>
                              <td>{{product.specification_9}}</td>
                            </tr>

                            <tr *ngIf = "product.description_10 != null">
                              <td>{{product.description_10}}</td>
                              <td>{{product.specification_10}}</td>
                            </tr>
                            
                          </tbody>
                        </table>
                  </div>
              </div>
              <div class="tab-pane fade" id="SupplierDetails">
                  <div class="col-sm-6 col-md-6 col-lg-6 supplierDetails mr-5">=
          <div class="content">
                          <h5>{{business.name}}</h5>
                          <p><b>About Us</b><br></p>
                          <small class="text-muted">City.: {{business.address}}<br></small>
                      </div>
        </div>
              </div>
          </div>
          <div class="m-5"></div>
      </div>    
  </div>
</div>

<div class="modal fade modalGetQuote" bsModal #modalGetQuote = "bs-modal" id = "modalGetQuote" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
          <h5 class="modal-title">Get Quote</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>

      <div class="modal-body"> 
          <h5 id = "productName" class="text-center">{{product.name}}</h5>
          <form id = "submitQuote" #submitQuote = "ngForm" (ngSubmit) = "saveQuote()">
              <div class="form-group">
                  <input type="number" name="productQty" id="productQty" [(ngModel)] = "quotesObject.quantity" class="form-control quoteControl" placeholder="Quantity" min="1">
                  <select name="selectUnit" id="selectUnit" class="form-control quoteControl mt-2">
                      <option value="" selected>Select Unit</option>
                      <option value="Kg">Kg</option>
                      <option value="Pack">pack</option>
                      <option value="Unit">Unit</option>
                      <option value="Meter">Meter</option>
                      <option value="Piece">Piece</option>
                  </select>
              </div>

              <div class="form-group">
                  <input type="text" [(ngModel)] = "quotesObject.requirement" name="productRequirements" id="productRequirements" class="form-control quoteControl w-75" placeholder="Requirement">
              </div>

              <div class="form-group">
                  <input type="submit" value="Submit" class="btn btn-primary float-right quoteControl">
              </div>
          </form>
      </div>
   </div>
  </div>
</div>