<div class="container-fluid p-0">
  <footer class="footer">
      <div class="container-fluid">
        <div class="row p-4"> 
          <div class="col-sm-4 col-md-4 col-lg-4 mx-3"> 
            <h1 style="color: azure; font-family:'Kalam', cursive; display: inline;" class="ml-3">बळीराजा</h1>
             <div class="my-4 text-white" style="font-size:15px; letter-spacing: .3px;">
                <div>
                  <p>Lorem Ipsum Dolor Sit Amet, Consectetur Adipiscing Elit Aliqua. Ut Enim Ad Minim Veniam, Quis..</p>
                </div>
                <div class="footer-intro"></div>
                <div class="mt-3">
                  S. No 42/1, First Floor,
                  Above SBI Bank,
                  Mahindrakar Complex,
                  NDA Road, Warje, Pune,
                  Maharashtra, India 411 058. <br><br>
                  Phone : (+91) 9969940732, 9823239159 <br> <br>
                  E-Mail : info@aimbreakthrough.com <br>
                </div>
                <div class="footer-intro"></div>
                <div class="footer-icon mt-4">
                  <!-- <fa-icon [icon]="faFacebook"> -->
                   <img src="assets/facebook.svg" alt="Shovel icon" class="img-fluid icon" style="background-color: white;">
                  <!-- </fa-icon>
                  <fa-icon [icon]="faLinkedin"></fa-icon> -->
                </div>
             </div>
          </div>
  
  
          <div class="col-sm-7 col-md-7 col-lg-7" style="border-left: 1px solid rgba(211, 206, 206, 0.836);">
              <div class="row mt-3 ml-2 text-white">
                <div class="col-sm-12 col-md-6 col-lg-6">
                  <span style="font-weight: bold;">Related Quick Links</span>
                  <ul class="footer-list">
                    <li> <a href="http://krishi.maharashtra.gov.in/">KrishiMaharashtra</a> </li>
                    <li>  <a href="http://mofpi.nic.in/Schemes/cold-chain">Ministry of Food Processing Industries</a> </li>
                    <li> <a href="https://nmsa.dac.gov.in/">National Mission for Sustainable Agriculture </a> </li>
                    <li> <a href="https://pmksy.gov.in/">Pradhan Mantri Krishi Sinhalese Yojana</a> </li>
                    <li> <a href="https://pmfby.gov.in/">Pradhan Mantri Fasal Bima Yojana </a> </li>
                  </ul>
                </div>
  

                <div class="col-sm-12 col-md-6 col-lg-6">
                  <span style="font-weight: bold;">EXTRAS</span>
                  
                  <ul class="footer-list">
                    <li>Free Listing</li>
                    <li>Quotes</li>
                    <li>Advertise</li>
                    <li>Investor Relations</li>
                  </ul>
                </div>
              </div>

          </div>    
        </div>
      </div>
  </footer>

  <div class="container-fluid" style="background-color: #0257b3; color: white; text-align: center;">
      Copyright <!--  <fa-icon [icon]="faCopyright"></fa-icon>  -->2020 AIMbreakthrough
  </div>
</div>