<header class="Seller-Details sticky-top  ">
	<div class="row d-flex justify-content-around mx-0">
		<div class="col-lg-5 col-md-5 col-sm-12">
			<div class="justify-content-center ">
				<div class="d-flex">
					<img src="assets/logo.svg" class="img Logo_svgs">
					<h4 class="Seller-Name ">business.name</h4>
				</div>
				<ul class="nav Address justify-content-start">
				    <li> business.supplier.state &nbsp;&nbsp;</li>
				    <li>| GST:business.GST &nbsp; </li>
			  	</ul>
			</div>
		</div>
	
		<div class="col-lg-4 col-md-6 col-sm-12 ">
			<ul class="nav nav-tabs nav-fill border-0" role="tablist">
				<li class="nav-item">
          			<a href="#LstofPro" class="nav-link active" data-toggle="tab">List Of Products</a>
				</li>
				<li class="nav-item">
					<a href="#abtUs" class="nav-link" data-toggle="tab">About Us</a>
				</li>
				<li class="nav-item ">
					<a class="nav-link dropdown " href="#" data-toggle="collapse" href="#collapseExample" id="navdrp" role="button" aria-haspopup="true" aria-expanded="false">
						Contact Us
					</a>
					<div class="collapse bg-white pt-3 pb-2" id="collapseExample" aria-labelledby="navdrp">
						<a class="nav-item py-2 px-0" href="#"><h6><img src="img_business/phoneIcon.png" class="img img_svgs" >&nbsp; +91-7878787878</h6></a>
						<a class="nav-item py-2 px-0" href="#"><h6><img src="img_business/website.png" class="img img_svgs" >&nbsp; hhfh@hdhdh.com</h6></a>
					</div>
				  </li>
	        </ul>
	    </div>
	</div>
 		
</header>
								
<section class="container-fluid">
		<div class="tab-content">
			<div class="tab-pane fade show active" id="LstofPro">
				<div class="container-fluid">
					<h5 class="SubHead border-bottom border-dark">Our Products</h5>
					<div class="row Product-row">
						<div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 px-0">
							<div class="card crd-slider">
								<img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
								<div class="card-body p-0 col-12">
								  <div class="px-2 desc">Farming Tools Equipment & Machines</div>
								  <hr style="border-top: dotted 2px #eaeaea;" class="my-1">
								  <div class="price m-2">Rs. 1,280</div>
								</div>
							  </div>
						</div>
						<div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 px-0">
							<div class="card crd-slider">
								<img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
								<div class="card-body p-0 col-12">
								  <div class="px-2 desc">Farming Tools Equipment & Machines</div>
								  <hr style="border-top: dotted 2px #eaeaea;" class="my-1">
								  <div class="price m-2">Rs. 1,280</div>
								</div>
							  </div>
						</div>

						<div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 px-0">
							<div class="card crd-slider">
								<img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
								<div class="card-body p-0 col-12">
								  <div class="px-2 desc">Farming Tools Equipment & Machines</div>
								  <hr style="border-top: dotted 2px #eaeaea;" class="my-1">
								  <div class="price m-2">Rs. 1,280</div>
								</div>
							  </div>
						</div>
						<div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 px-0">
							<div class="card crd-slider">
								<img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
								<div class="card-body p-0 col-12">
								  <div class="px-2 desc">Farming Tools Equipment & Machines</div>
								  <hr style="border-top: dotted 2px #eaeaea;" class="my-1">
								  <div class="price m-2">Rs. 1,280</div>
								</div>
							  </div>
						</div>
						<div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 px-0">
							<div class="card crd-slider">
								<img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
								<div class="card-body p-0 col-12">
								  <div class="px-2 desc">Farming Tools Equipment & Machines</div>
								  <hr style="border-top: dotted 2px #eaeaea;" class="my-1">
								  <div class="price m-2">Rs. 1,280</div>
								</div>
							  </div>
						</div>
						<div class="col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 px-0">
							<div class="card crd-slider">
								<img src ="assets/categories/shovel-svgrepo-com.svg" class="model">
								<div class="card-body p-0 col-12">
								  <div class="px-2 desc">Farming Tools Equipment & Machines</div>
								  <hr style="border-top: dotted 2px #eaeaea;" class="my-1">
								  <div class="price m-2">Rs. 1,280</div>
								</div>
							  </div>
						</div>
                     
					</div> 
				</div>
			</div>	

			<div class="tab-pane fade tab-About" id="abtUs">
				<div class="container">
	      			<h5 class="SubHead border-bottom border-dark">About Us</h5>
					<p class="text-muted ">business.description</p>
				</div>
				<div class="container">
					<div class="row">
						<div class="container Info-Table">
							<th class="heading"><h5 class="SubHead border-bottom border-dark">Basic Information</h5></th>
							<div class="table-1 bg-light rounded basic">
								<th ><h5 class="border-bottom border-Secondary text-center">Business Details</h5></th>
								<table class="row d-lg-flex justify-content-lg-center justify-content-md-center">
									<tbody class="col-sm-12 col-lg-6 col-md-6">
										<tr class="row justify-content-around">
											<td class="col-5">Seller Full Name&nbsp;:</td>
											<td class="col-7">business.supplier.full_name</td>
										</tr>
										<tr class="row justify-content-around">
											<td class="col-5">Business Type&nbsp;:</td>
											<td class="col-7">business.business_type</td>
										</tr>
										<tr class="row justify-content-around">
											<td class="col-5">Year of Establishment&nbsp;:</td>
											<td class="col-7">business.year_of_establishment</td>
										</tr>
										<tr class="row justify-content-around">
											<td class="col-5 d-flex align-items-start">Additional Business&nbsp;:</td>
											<td class="col-7">
												
													<li>Wholesaler</li>
													<li>Exporter</li>
											
											</td>
										</tr>										
										<tr class="row justify-content-around">
											<td class="col-5">Registered Address &nbsp;:</td>
											<td class="col-7">business.address</td>
										</tr>

										<tr class="row justify-content-around">
											<td class="col-5">Email&nbsp;:</td>
											<td class="col-7">business.business_email</td>
										</tr>
										
									</tbody>
									<tbody class="col-sm-12 col-lg-6 col-md-6">
										<tr class="row justify-content-around">
											<td class="col-5">Website&nbsp;:</td>
											<td class="col-7">business.website_link</td>
										</tr>
										<tr class="row justify-content-around">
											<td class="col-5">Address&nbsp;:</td>
											<td class="col-7">business.supplier.city</td>
										</tr>
										<tr class="row justify-content-around">
											<td class="col-5">Street Address&nbsp;:</td>
											<td class="col-7">business.supplier.city</td>
										</tr>
										<tr class="row justify-content-around">
											<td class="col-5">City&nbsp;:</td>
											<td class="col-7"> business.supplier.city</td>
										</tr>
										<tr class="row justify-content-around">
											<td class="col-5">District&nbsp;:</td>
											<td class="col-7">business.supplier.district</td>
										</tr>
										<tr class="row justify-content-around">
											<td class="col-5">State&nbsp;:</td>
											<td class="col-7">business.supplier.state</td>
										</tr>
										<tr class="row justify-content-around">
											<td class="col-5">Pincode&nbsp;:</td>
											<td class="col-7">business.supplier.state</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div> 
				</div>
			</div>

		</div>
</section>